{
  "extends": ["airbnb", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/react-in-jsx-scope": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
